.profile__box {
  display: flex;
}
@media screen and (max-width: 700px) {
  .profile__box {
    max-width: 282px;
  }
}
@media screen and (max-width: 370px) {
  .profile__box {
    margin-right: 0px;
    margin-left: 26px;
  }
}