.profile__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 8px 0px 20px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}
@media screen and (max-width: 700px) {
  .profile__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 200px;
    margin-left: 21px;
  }
}