.profile__add-button {
  height: 50px;
  width: 150px;
  margin-right: 0px;
  align-self: center;
  background-color: #000000;
  border-radius: 2px;
  border: #FFFFFF solid 2px;
  background-image: url("../../../images/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 
@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 282px;
  }
}