.popup__close-button {
  background-color: #00000000;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  min-height: 32px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: -35px;
}
.popup__close-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 650px) {
  .popup__close-button {
    top: -35px;
    right: 0px;
    width: 20px;
    min-height: 20px;
  }
}