.element__button {
  display: flex;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  width: 22px;
  height: 19px;
  margin: 30px auto 30px auto;
  padding: 0px;
  background-image: url("../../../images/like.png");
}
.element__button:hover {
  opacity: 0.8;
}
.element__button:active {
  background-image: url("../../../images/like-click.png");
}